<h2>{{title}}</h2>
<nav>

  <a routerLink="/dashboard_link">DashBoard link</a>
  <a routerLink="/hero_link" routerLinkActive="active">heroes link</a>
</nav>
<router-outlet></router-outlet>
<!-- 
<h2>{{ hero.name }} details!</h2>
<div><label>id: </label>{{ hero.id }}</div>
<div><label>name: </label>{{ hero.name }}</div> -->

<!-- <p>
  {{hero.name}} - {{ hero.id}}
</p> -->
<!-- <div>
  <label>name: </label>
  <input [(ngModel)]="hero.name" placeholder="name">
</div> -->



<!-- <div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div><label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
</div> -->

<hero-details [hero]="selectedHero"></hero-details>
